// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movie-info {
	.info {
		font-weight: bold;
	}
}

.action-button {
	margin-bottom: 20px;
}

#star-movie {
	margin-bottom: 10px;
}

